<div class="row" id="whatToCook">
    <div class="col-12">
        <h3>چی بپزم؟</h3>
        <hr />

    </div>
    <div class="col-6 text-center">
        <h5>بهم بگو چی میخوای بپزی</h5>
        <div class="text-center">
            <a href="https://cooksteps.ir/recipes/" class="btn btn-success" target="_blank" data-wpel-link="internal"><i class="bi bi-chevron-right"></i>  چی می خوای بپزی</a>
        </div>

    </div>

    <div class="col-6 text-center">
        <h5>چی تو خونه داری بگو تا کمکت کنم یه غذای خوشمزه بپزی</h5>
        <div class="text-center">
            <a href="https://cooksteps.ir/recipes/" class="btn btn-success" target="_blank" data-wpel-link="internal"><i class="bi bi-chevron-right"></i>  مواد غذایی چی  داری</a>
        </div>
    </div>
</div>