@{
    ViewData["Title"] = "Home - Cook Steps - کوک استپز - آشپزی گام به گام";
    ViewData["Description"] ="آموزش آشپزی - سفارش آنلاین غذا";
    ViewData["Type"] = "website";
    ViewData["Url"] = "http://cooksteps.ir/";

}
@section Tags{


}
@section PageHeader{
    <div class="" style="padding-top: 80px; padding-bottom: 100px; background-repeat: no-repeat; background-position: center top; background-image: url('/lib/pic/home_recipes2_header1.jpg');">
        <div class="row" style="margin:0px; margin-top:120px; vertical-align:central">
            <div class="col-2"></div>
            <div class="col-4" style="text-align:right">
                <h1 class="text-light text-lg-right " style="font-weight:bold; font-size:50px;"> title</h1>


            </div>

        </div>

    </div>

}

@*@Html.Partial("_WhatToCook")*@
<div class="row containers" style="direction:rtl">
    <div class="col-8">
        <h1> title</h1>
        <div>
            <p> Desc recepie</p>
        </div>
    </div>
    <div class="col-4">

        <div class="" style="margin-top:-190px" data-mobile="no-up">
            <div class="">
                <div class="">
                    <div class="" style="background-color:#000000;padding:40px 40px 25px;">
                        <h3 style="margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #262626; color: #fff;">مواد لازم برای تهیه کتلت:</h3>
                        <p style="color: #949494;">
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>مواد لازم برای ۴ نفر<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>گوشت چرخ کرده ۲۰۰ گرم<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>سیب زمینی ۳ عدد متوسط<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>پیاز بزرگ یک عدد<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>تخم مرغ یک عدد<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>آرد نخودچی ۱ قاشق غذا خوری سر پر<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>نمک<br> 
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>فلفل<br>
                            <i class="bi bi-check text-success" style="font-size:20px;"></i>زردچوبه<br>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>



        <div>
            <h5>جدیدترین محصولات</h5>
            <div>
                <a href="/"><img src="~/images/banner1.svg" /></a>
                <h4 class="productName"><a class="text-dark" href="/">قاشق برنجی برگ انجیری</a></h4>
                <span class="price text-success"><span class="amount"><span class="woocommerce-Price-currencySymbol">تومان</span>140,000</span></span>
            </div>
        </div>
        <hr />
        <div style="padding-top:10px">
            <h5>جدیدترین دستورهای آشپزی</h5>
            <hr />
            <div class="row">
                <div class="col-8">
                    <h5 style="font-size:15px; padding-bottom:0px; "><a class="text-dark" href="/">اسموتی</a></h5>
                    <hr style="margin:2px;" />
                    <span class="date" style="color:#bfc3c7;"><i class="bi bi-calendar"></i> جولای 7, 2021</span>
                    <i class="bi bi-chat" style="color:#bfc3c7;"></i> <a href="http://cooksteps.ir/sourcherry-smoothie/#respond" class="text-success" data-wpel-link="internal">0</a>
                    <i class="bi bi-heart" style="color:#bfc3c7;"></i> <a href="" class="text-success" data-wpel-link="internal">0</a>


                </div>
                <div class="col-4">
                    <a href="/"><img src="~/images/banner1.svg" /></a>
                </div>

            </div>
        </div>
        <hr />

        <div style="padding-top:10px">
            <h5>آخرین مطالب سلامتی</h5>
            <hr />
            <div class="row">
                <div class="col-8">
                    <h5 style="font-size:15px; padding-bottom:0px; "><a class="text-dark" href="/">اسموتی</a></h5>
                    <hr style="margin:2px;" />
                    <span class="date" style="color:#bfc3c7;"><i class="bi bi-calendar"></i> جولای 7, 2021</span>
                    <i class="bi bi-chat" style="color:#bfc3c7;"></i> <a href="http://cooksteps.ir/sourcherry-smoothie/#respond" class="text-success" data-wpel-link="internal">0</a>
                    <i class="bi bi-heart" style="color:#bfc3c7;"></i> <a href="" class="text-success" data-wpel-link="internal">0</a>


                </div>
                <div class="col-4">
                    <a href="/"><img src="~/images/banner1.svg" /></a>
                </div>

            </div>
        </div>

    </div>

</div>
@section Style{
    <style type="text/css">
        .containers {
            margin-top: 50px;
            text-align: right;
        }

        .productName {
            font-size: 18px;
            font-weight: bold;
        }

        .containers .header {
            text-align: right;
            padding-top: 10px;
        }

        .containers .headerTitle {
            font-size: 35px;
            font-weight: bold;
            text-align: right
        }

        .containers .header a {
        }
    </style>


}
@*
            INSERT INTO Category(Title,EnTitle,Description,Picture,ParentId,DateInsert)
            values(N'آشپزی','Cook',N'','cook.jpg',null,getdate()),
                    (N'سلامتی','Health',N'','health.jpg',null,getdate()),
                    (N'خانه داری','House keeping',N'','HouseKeeping.jpg',null,getdate())

            ---آشپزی
            INSERT INTO Category(Title,EnTitle,Description,Picture,ParentId,DateInsert)
            values(N'آش و سوپ','Soup',N'','Soup.jpg',1,getdate()),
                    (N'انواع دسر و شیرینی','Dessert',N'','Dessert.jpg',1,getdate()),
                    (N'غذاهای بین الملل','International',N'','International.jpg',1,getdate()),
            (N'غذاهای سنتی ایرانی','Iranian-Traditional-Food',N'','IranianFood.jpg',1,getdate()),
            (N'پلوها','Rice',N'','Rice.jpg',1,getdate()),
            (N'انواع پیتزا','Pizza',N'','Pizza.jpg',1,getdate()),
            (N'صبحانه','BreakFast',N'','BreakFast.jpg',1,getdate()),
            (N'پیش غذاها','Appetizer',N'','Appetizer.jpg',1,getdate()),
            (N'غذای اصلی','MainCourse',N'','MainCourse.jpg',1,getdate()),
            (N'میان وعده','Snack',N'','Snack.jpg',1,getdate()),
            (N'تنقلات','JunkFood',N'','JunkFood.jpg',1,getdate()),
            (N'ترشیجات','Pickle',N'','Pickle.jpg',1,getdate()),

            (N'خورش ها','Stew',N'','Stew.jpg',1,getdate()),
            (N'انواع سالاد','Salad',N'','Salad.jpg',1,getdate()),

            (N'غذاهای دریایی','SeaFood',N'','SeaFood.jpg',1,getdate()),
            (N'غذاهای گیاهی','vegetarian-Food',N'','vegetarianFood.jpg',1,getdate()),


            (N'فینگر فود ها','Finger-Food',N'','FingerFood.jpg',1,getdate()),

            (N'انواع نان','Breads',N'','Breads.jpg',1,getdate()),
            (N'نکات آشپزی','Cook-Tips',N'','CookTips.jpg',1,getdate()),
            (N'نوشیدنی ها','Drinks',N'','Drinks.jpg',1,getdate())


            ---سلامتی
            INSERT INTO Category(Title,EnTitle,Description,Picture,ParentId,DateInsert)
            values    (N'تغذیه','Nutrition',N'','Nutrition.jpg',2,getdate()),
            (N'طب سنتی و گیاهی','Traditional-medicine',N'','TraditionalMedicine.jpg',2,getdate()),

        ----خانه داری
            INSERT INTO Category(Title,EnTitle,Description,Picture,ParentId,DateInsert)
            values    (N'لباس ها','Cloths',N'','Cloths.jpg',3,getdate()),
            (N'فرش','Carpets',N'','Carpets.jpg',3,getdate()),





        ---------Tag
        INSERT INTO Tag(Title,EnTitle,Description,DateInsert)
            values    (N'hot chocolate','hot-chocolate',N'',getdate()),
            (N'آش رشته',N'آش-رشته',N'',getdate()),
        (N'آشپزی',N'آشپزی',N'',getdate()),
        (N'آلبالو',N'آلبالو',N'',getdate()),
        (N'اسطخدوس',N'اسطخدوس',N'',getdate()),
        (N'اسطوخودوس',N'اسطوخودوس',N'',getdate()),
        (N'اسفناج',N'اسفناج',N'',getdate()),
        (N'اسموتی آلبالو',N'اسموتی-آلبالو',N'',getdate()),
        (N'اسموتی',N'اسموتی',N'',getdate()),
        (N'انجیر',N'انجیر',N'',getdate()),
        (N'انواع آش',N'انواع-آش',N'',getdate()),
        (N'انواع پنکیک',N'انواع-پنکیک',N'',getdate()),
        (N'انواع پیتزا',N'انواع-پیتزا',N'',getdate()),
        (N'انواع پیش غذا با بادمجان',N'انواع-پیش-غذا-با-بادمجان',N'',getdate()),
        (N'انواع ترشی',N'انواع-ترشی',N'',getdate()),
        (N'انواع دسر',N'انواع-دسر',N'',getdate()),
        (N'انواع شیرینی',N'انواع-شیرینی',N'',getdate()),
        (N'انواع غذا با ماکارونی',N'انواع-غذا-با-ماکارونی',N'',getdate()),
        (N'انواع غذاها با ماهی',N'انواع-غذاها-با-ماهی',N'',getdate()),
        (N'انواع کباب',N'انواع-کباب',N'',getdate()),
        (N'انواع کیک',N'انواع-کیک',N'',getdate()),
        (N'باباگانوش',N'باباگانوش',N'',getdate()),
        (N'بادام',N'بادام',N'',getdate()),
        (N'بادمجان',N'بادمجان',N'',getdate()),
        (N'باقالی',N'باقالی',N'',getdate()),
        (N'باقالی پلو',N'باقالی-پلو',N'',getdate()),
        (N'باقالی کبابی',N'باقالی-کبابی',N'',getdate()),
        (N'بامیه خانگی',N'بامیه-خانگی',N'',getdate()),
        (N'بستنی',N'بستنی',N'',getdate()),
        (N'بستنی طالبی',N'بستنی-طالبی',N'',getdate()),
        (N'بستنی گیاهی',N'بستنی-گیاهی',N'',getdate()),
        (N'بستنی موزی',N'بستنی-موزی',N'',getdate()),
        (N'بستنی میوه‌ای',N'بستنی-میوه‌ای',N'',getdate()),
        (N'پاستا',N'پاستا',N'',getdate()),
        (N'پاستا با سس آلفردو',N'پاستا-با-سس-آلفردو',N'',getdate()),
        (N'پخت باقالی',N'پخت-باقالی',N'',getdate()),
        (N'پخت شیرینی ساده',N'پخت-شیرینی-ساده',N'',getdate()),
        (N'پخت قرابیه یونانی با روش ساده',N'پخت-قرابیه-یونانی-با-روش-ساده',N'',getdate()),
        (N'پخت نان در خانه',N'پخت-نان-در-خانه',N'',getdate()),
        (N'پلو',N'پلو',N'',getdate()),
        (N'پلوهای ایرانی',N'پلوهای-ایرانی',N'',getdate()),
        (N'پنکیک',N'پنکیک',N'',getdate()),
        (N'پنکیک بدون شیر',N'پنکیک-بدون-شیر',N'',getdate()),
        (N'پنه',N'پنه',N'',getdate()),
        (N'پنه آلفردو',N'پنه-آلفردو',N'',getdate()),
        (N'پنه با سس آلفردو',N'پنه-با-سس-آلفردو',N'',getdate()),
        (N'پودر شکر',N'پودر-شکر',N'',getdate()),
        (N'پودر قند',N'پودر-قند',N'',getdate()),
        (N'پوست پیاز',N'پوست-پیاز',N'',getdate()),
        (N'پیتزا',N'پیتزا',N'',getdate()),
        (N'پیتزا اسفناج',N'پیتزا اسفناج',N'',getdate()),
        (N'پیتزاها',N'پیتزاها',N'',getdate()),
        (N'پیتزای بادمجان',N'پیتزای-بادمجان',N'',getdate()),
        (N'پیش غذا',N'پیش-غذا',N'',getdate()),
        (N'ترتیلا',N'ترتیلا',N'',getdate()),
        (N'تردیلا',N'تردیلا',N'',getdate()),
        (N'ترشی با آبغوره',N'ترشی-با-آبغوره',N'',getdate()),
        (N'ترشی راحت',N'ترشی-راحت',N'',getdate()),
        (N'ترشیجات',N'ترشیجات',N'',getdate()),
        (N'ترشی',N'ترشی',N'',getdate()),
        (N'تقویت مو',N'تقویت-مو',N'',getdate()),
        (N'تقویت موی سر',N'تقویت-موی-سر',N'',getdate()),
        (N'تهیه جوانه',N'تهیه-جوانه',N'',getdate()),
        (N'تهیه جوانه در خانه',N'تهیه-جوانه-در-خانه',N'',getdate()),
        (N'تهیه جوانه گیاهان',N'تهیه-جوانه-گیاهان',N'',getdate()),
        (N'تهیه جوانه گیاهان در خانه',N'تهیه-جوانه-گیاهان-در-خانه',N'',getdate()),
        (N'جوانه',N'جوانه',N'',getdate()),
        (N'جوانه گندم',N'جوانه-گندم',N'',getdate()),
        (N'جوانه ها',N'جوانه-ها',N'',getdate()),
        (N'چیپس',N'چیپس',N'',getdate()),
        (N'چیپس ترتیلا',N'چیپس-ترتیلا',N'',getdate()),
        (N'چیز کیک',N'چیز-کیک',N'',getdate()),
        (N'چیز کیک یخچالی',N'چیز-کیک-یخچالی',N'',getdate()),
        (N'چیزکیک',N'چیزکیک',N'',getdate()),
        (N'حبوبات',N'حبوبات',N'',getdate()),
        (N'حلیم',N'حلیم',N'',getdate()),
        (Nخاصیت کشک'',N'خاصیت-کشک',N'',getdate()),
        (N'خمیر پیتزا',N'خمیر-پیتزا',N'',getdate()),
        (N'خمیر ترش',N'خمیر-ترش',N'',getdate()),
        (N'خمیر مایه',N'خمیر-مایه',N'',getdate()),
        (N'خواص اسطوخودوس',N'خواص-اسطوخودوس',N'',getdate()),
        (N'خواص انجیر',N'خواص-انجیر',N'',getdate()),
        (N'خواص پوست پیاز',N'خواص-پوست-پیاز',N'',getdate()),
        (N'خواص پیاز',N'خواص-پیاز',N'',getdate()),
        (N'خواص پیاز برای موی سر',N'خواص-پیاز-برای-موی-سر',N'',getdate()),
        (N'خواص حبوبات',N'خواص-حبوبات',N'',getdate()),
        (N'خواص درمانی پیاز',N'خواص-درمانی-پیاز',N'',getdate()),
        (N'خواص رزماری',N'خواص-رزماری',N'',getdate()),
        (N'خواص سیر',N'خواص-سیر',N'',getdate()),
        (N'خواص سیر بر سلامت پوست',N'خواص-سیر-بر-سلامت-پوست',N'',getdate()),
        (N'خواص سیر برای پوست',N'خواص-سیر-برای-پوست',N'',getdate()),
        (N'خواص سیر برای مو',N'خواص-سیر-برای-مو',N'',getdate()),
        (N'خواص طالبی',N'خواص-طالبی',N'',getdate()),
        (N'خواص عدس',N'خواص-عدس',N'',getdate()),
        (N'طالبی',N'طالبی',N'',getdate()),
        (N'عدس',N'عدس',N'',getdate()),
        (N'خواص کشک',N'خواص کشک',N'',getdate()),
        (N'کشک',N'کشک',N'',getdate()),
        (N'خواص ماهی',N'خواص-ماهی',N'',getdate()),
        (N'ماهی',N'ماهی',N'',getdate()),
        (N'خواص موز',N'خواص-موز',N'',getdate()),
        (N'موز',N'موز',N'',getdate()),
        (N'خواص نخود',N'خواص-نخود',N'',getdate()),
        (N'نخود',N'نخود',N'',getdate()),
        (N'خورش کرفس',N'خورش کرفس',N'',getdate()),
        (N'کرفس',N'کرفس',N'',getdate()),
        (N'خورشت کرفس',N'خورشت-کرفس',N'',getdate()),
        (N'درمان آکنه',N'درمان-آکنه',N'',getdate()),
        (N'آکنه',N'آکنه',N'',getdate()),
        (N'درمان جوش',N'درمان-جوش',N'',getdate()),
        (N'درمان جوش با سیر',N'درمان-جوش-با-سیر',N'',getdate()),
        (N'درمان ریزش مو',N'درمان-ریزش-مو',N'',getdate()),
        (N'دستور پخت پنکیک',N'دستور-پخت-پنکیک',N'',getdate()),
        (N'دستور پخت خورش کرفس',N'دستور-پخت-خورش-کرفس',N'',getdate()),
        (N'دستور پخت شیرینی پفکی',N'دستور-پخت-شیرینی-پفکی',N'',getdate()),
        (N'دستور پخت شیرینی پفکی با زرده',N'دستور-پخت-شیرینی-پفکی-با-زرده',N'',getdate()),
        (N'دستور پخت شیرینی پنجره‌ای',N'دستور-پخت-شیرینی-پنجره‌ای',N'',getdate()),
        (N'دستور پخت فرنچ تست',N'دستور-پخت-فرنچ-تست',N'',getdate()),
        (N'دستور پخت قرابیه یونانی',N'دستور-پخت-قرابیه-یونانی',N'',getdate()),
        (N'قرابیه',N'قرابیه',N'',getdate()),
        (N'دستور پخت کله جوش',N'دستور-پخت-کله-جوش',N'',getdate()),
        (N'دستور پخت نان خانگی',N'دستور-پخت-نان-خانگی',N'',getdate()),
        (N'نان خانگی',N'نان-خانگی',N'',getdate()),
        (N'دستور پخت نان در خانه',N'دستور-پخت-نان-در-خانه',N'',getdate()),
        (N'دسر',N'دسر',N'',getdate()),
        (N'دسر ایرانی',N'دسر-ایرانی',N'',getdate()),
        (N'دونات',N'دونات',N'',getdate()),
        (N'دیپ',N'دیپ',N'',getdate()),
        (N'دیپ بادمجان',N'دیپ-بادمجان',N'',getdate()),
        (N'رزماری',N'رزماری',N'',getdate()),
        (N'رول',N'رول',N'',getdate()),
        (N'رول اسفناج',N'رول-اسفناج',N'',getdate()),
        (N'رول دارچینی',N'رول-دارچینی',N'',getdate()),
        (N'زبان گربه',N'زبان-گربه',N'',getdate()),
        (N'زرشک',N'زرشک',N'',getdate()),
        (N'سالاد',N'سالاد',N'',getdate()),
        (N'سالاد خیار',N'سالاد-خیار',N'',getdate()),
        (N'سس آلفردو',N'سس-آلفردو',N'',getdate()),
        (N'سلامتی',N'سلامتی',N'',getdate()),
        (N'سیب',N'سیب',N'',getdate()),
        (N'سیب زمینی',N'سیب-زمینی',N'',getdate()),
        (N'سیر',N'سیر',N'',getdate()),
        (N'سیر برای پوست',N'سیر-برای-پوست',N'',getdate()),
        (N'سیر برای مو',N'سیر-برای-مو',N'',getdate()),
        (N'شربت بامیه',N'شربت-بامیه',N'',getdate()),
        (N'شیر',N'شیر',N'',getdate()),
        (N'شیر برنج',N'شیر-برنج',N'',getdate()),
        (N'شیرینی',N'شیرینی',N'',getdate()),
        (N'شیرینی انجل آیز',N'شیرینی-انجل-آیز',N'',getdate()),
        (N'شیرینی پزی',N'شیرینی-پزی',N'',getdate()),
        (N'شیرینی پفکی',N'شیرینی-پفکی',N'',getdate()),
        (N'شیرینی پفکی با زرده',N'شیرینی-پفکی-با-زرده',N'',getdate()),
        (N'شیرینی پفکی ساده',N'شیرینی-پفکی-ساده',N'',getdate()),
        (N'شیرینی پنجره ای',N'شیرینی-پنجره-ای',N'',getdate()),
        (N'شیرینی پنجره ای با شیر',N'شیرینی-پنجره-ای-با-شیر',N'',getdate()),
        (N'شیرینی پنجره ای بدون قالب',N'شیرینی-پنجره-ای-بدون-قالب',N'',getdate()),
        (N'شیرینی پنجره‌ای',N'شیرینی-پنجره‌ای',N'',getdate()),
        (N'شیرینی زبان گربه',N'شیرینی-زبان-گربه',N'',getdate()),
        (N'شیرینی ساده',N'شیرینی-ساده',N'',getdate()),
        (N'شیرینی مربایی',N'شیرینی-مربایی',N'',getdate()),
        (N'شیرینی یونانی',N'شیرینی-یونانی',N'',getdate()),
        (N'صبحانه با جو پرک',N'صبحانه-با-جو-پرک',N'',getdate()),
        (N'صبحانه مجلسی',N'صبحانه-مجلسی',N'',getdate()),
        (N'صبحانه مقوی',N'صبحانه-مقوی',N'',getdate()),
        (N'طالبی',N'طالبی',N'',getdate()),
        (N'طالبی نعنا',N'طالبی-نعنا',N'',getdate()),
        (N'طب سنتی',N'طب سنتی',N'',getdate()),
        (N'طرز پخت ماکارونی',N'طرز-پخت-ماکارونی',N'',getdate()),
        (N'طرز تهیه آش رشته',N'طرز-تهیه-آش-رشته',N'',getdate()),
        (N'طرز تهیه انواع کباب',N'طرز-تهیه-انواع-کباب',N'',getdate()),
        (N'طرز تهیه باقالب',N'طرز-تهیه-باقالب',N'',getdate()),
        (N'طرز تهیه باقالی',N'طرز-تهیه-باقالی',N'',getdate()),
        (N'طرز تهیه باقلا',N'طرز-تهیه-باقلا',N'',getdate()),
        (N'طرز تهیه بامیه',N'طرز-تهیه-بامیه',N'',getdate()),
        (N'طرز تهیه بامیه بدون قالب',N'طرز-تهیه-بامیه-بدون-قالب',N'',getdate()),
        (N'طرز تهیه بامیه خانگی',N'طرز-تهیه-بامیه-خانگی',N'',getdate()),
        (N'طرز تهیه پنکیک',N'طرز-تهیه-پنکیک',N'',getdate()),
        (N''طرز تهیه پودر شکر در خانه,N'طرز-تهیه-پودر-شکر-در-خانه',N'',getdate()),
        (N'طرز تهیه پودر قند در خانه',N'طرز-تهیه-پودر-قند-در-خانه',N'',getdate()),
        (N'طرز تهیه حلیم',N'طرز-تهیه-حلیم',N'',getdate()),
        (N'طرز تهیه خمیر پیتزا',N'طرز-تهیه-خمیر-پیتزا',N'',getdate()),
        (N'طرز تهیه خمیر ترش',N'طرز-تهیه-خمیر-ترش',N'',getdate()),
        (N'طرز تهیه خمیر مایه',N'طرز-تهیه-خمیر-مایه',N'',getdate()),
        (N'طرز تهیه خورش کرفس',N'طرز-تهیه-خورش-کرفس',N'',getdate()),
        (N'طرز تهیه شیرینی پفکی',N'طرز-تهیه-شیرینی-پفکی',N'',getdate()),
        (N'طرز تهیه شیرینی پنجره‌ای',N'طرز-تهیه-شیرینی-پنجره‌ای',N'',getdate()),
        (N'طرز تهیه شیرینیپنجره‌ای',N'طرز-تهیه-شیرینیپنجره‌ای',N'',getdate()),
        (N'طرز تهیه فرنچ تست',N'طرز-تهیه-فرنچ-تست',N'',getdate()),
        (N'طرز تهیه قرابیه یونانی',N'طرز-تهیه-قرابیه-یونانی',N'',getdate()),
        (N'طرز تهیه کاچی',N'طرز-تهیه-کاچی',N'',getdate()),
        (N'طرز تهیه کله جوش',N'طرز-تهیه-کله-جوش',N'',getdate()),
        (N'طرز تهیه مافین',N'طرز-تهیه-مافین',N'',getdate()),
        (N'طرز تهیه ماکارونی',N'طرز-تهیه-ماکارونی',N'',getdate()),
        (N'طرز تهیه ماهی',N'طرز-تهیه-ماهی',N'',getdate()),
        (N'طرز تهیه ماهی در فر',N'طرز-تهیه-ماهی-در-فر',N'',getdate()),
        (N'طرز تهیه ماهی سرخ شده',N'طرز-تهیه-ماهی-سرخ-شده',N'',getdate()),
        (N'طرز تهیه مایه خمیر',N'طرز-تهیه-مایه-خمیر',N'',getdate()),
        (N'طرز تهیه مربا',N'طرز-تهیه-مربا',N'',getdate()),
        (N'طرز تهیه مربا انجیر',N'طرز-تهیه-مربا-انجیر',N'',getdate()),
        (N'طرز تهیه مربا زرشک',N'طرز-تهیه-مربا-زرشک',N'',getdate()),
        (N'عوارض کشک',N'عوارض-کشک',N'',getdate()),
        (N'غذا با سیب زمینی',N'غذا-با-سیب-زمینی',N'',getdate()),
        (N'غذا با هویج',N'غذا-با-هویج',N'',getdate()),
        (N'غذای اردبیلی',N'غذای-اردبیلی',N'',getdate()),
        (N'غذای سنتی اردبیلی',N'غذای-سنتی-اردبیلی',N'',getdate()),
        (N'غذای سنتی ایرانی',N'غذای-سنتی-ایرانی',N'',getdate()),
        (N'فرنچ تست',N'فرنچ-تست',N'',getdate()),
        (N'فرنچ تست بدون شیر',N'فرنچ-تست-بدون-شیر',N'',getdate()),
        (N'فواید ماهی',N'فواید-ماهی',N'',getdate()),
        (N'قرابیه',N'قرابیه',N'',getdate()),
        (N'قرابیه یونانی',N'قرابیه-یونانی',N'',getdate()),
        (N'کاچی',N'کاچی',N'',getdate()),
        (N'کاسرول بادمجان',N'کاسرول-بادمجان',N'',getdate()),
        (N'کباب',N'کباب',N'',getdate()),
        (N'کباب تابه ای',N'کباب-تابه-ای',N'',getdate()),
        (N'کتلت',N'کتلت',N'',getdate()),
        (N'کدو',N'کدو',N'',getdate()),
        (N'کرانچی',N'کرانچی',N'',getdate()),
        (N'کرفس',N'کرفس',N'',getdate()),
        (N'کشک',N'کشک',N'',getdate()),
        (N'کشک بادمجان',N'کشک-بادمجان',N'',getdate()),
        (N'کله جوش',N'کله-جوش',N'',getdate()),
        (N'کله جوش اصفهانی',N'کله-جوش-اصفهانی',N'',getdate()),
        (N'کوکو',N'کوکو',N'',getdate()),
        (N'کوکو سیب زمینی',N'کوکو-سیب-زمینی',N'',getdate()),
        (N'کوکو کدو',N'کوکو-کدو',N'',getdate()),
        (N'کیک',N'کیک',N'',getdate()),
        (N'کیک اسطوخودوس',N'کیک-اسطوخودوس',N'',getdate()),
        (N'کیک زرشک',N'کیک-زرشک',N'',getdate()),
        (N'کیک موزی',N'کیک-موزی',N'',getdate()),
        (N'کیک هلو',N'کیک-هلو',N'',getdate()),
        (N'کیک هویج',N'کیک-هویج',N'',getdate()),
        (N'گرمک',N'گرمک',N'',getdate()),
        (N'گیاهخواری',N'گیاهخواری',N'',getdate()),
        (N'لوبیا چیتی',N'لوبیا-چیتی',N'',getdate()),
        (N'مارمالاد',N'مارمالاد',N'',getdate()),
        (N'ماسک باسیر',N'ماسک-باسیر',N'',getdate()),
        (N'ماسک کشک',N'ماسک-کشک',N'',getdate()),
        (N'مافین',N'مافین',N'',getdate()),
        (N'مافین آلبالو',N'مافین-آلبالو',N'',getdate()),
        (N'ماکارونی',N'ماکارونی',N'',getdate()),
        (N'مایه خمیر',N'مایه-خمیر',N'',getdate()),
        (N'مربا',N'مربا',N'',getdate()),
        (N'مربا انجیر',N'مربا-انجیر',N'',getdate()),
        (N'مربا زرشک',N'مربا-زرشک',N'',getdate()),
        (N'مواد لازم برای کله جوش',N'مواد-لازم-برای-کله-جوش',N'',getdate()),
        (N'موهای پر پشت',N'موهای-پر-پشت',N'',getdate()),
        (N'نان',N'نان',N'',getdate()),
        (N'نان پنجره ای',N'نان-پنجره-ای',N'',getdate()),
        (N'نان پنجره‌ای',N'نان-پنجره‌ای',N'',getdate()),
        (N'نان خانگی',N'نان-خانگی',N'',getdate()),
        (N'نان خانگی خوشمزه',N'نان-خانگی-خوشمزه',N'',getdate()),
    (N'نان خانگی ساده',N'نان-خانگی-ساده',N'',getdate()),
        (N'نان موزی',N'نان-موزی',N'',getdate()),
        (N'نایس کریم',N'نایس-کریم',N'',getdate()),
        (N'نکات تهیه کتلت',N'نکات-تهیه-کتلت',N'',getdate()),
        (N'نوشیدنی',N'نوشیدنی',N'',getdate()),
        (N'هات چاکلت',N'هات-چاکلت',N'',getdate()),
        (N'هلیم',N'هلیم',N'',getdate()),
        (N'هندوانه',N'هندوانه',N'',getdate()),
        (N'هویج',N'هویج',N'',getdate()),
        (N'هویج پلو',N'هویج پلو',N'',getdate()),
        (N'وگن',N'وگن',N'',getdate()),
            (N'',N'',N'',getdate()),
    (N'',N'',N'',getdate()),



*@
