@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تغییر پسورد";
}

<h1>@ViewData["Title"]</h1>
<p>
    لینک تغییر پسورد برایتان ارسال شد
</p>
<p>
    لطفا برای تغییر پسورد ایمیلتان را چک کنید
</p>

