@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تغییر پسورد";
}

<h1>@ViewData["Title"]</h1>
<p>
    پسوردتان با موفقیت تغییر کرد <a asp-page="./Login">برای ورد کلیک کنید</a>.
</p>
