@page
@model WebPresentation.Areas.User.Pages.Profile.IndexModel
@{
}
<h3>پروفایل</h3>
<p>
    First Name : @Model.FirstName
</p>

<p>
    Last Name : @Model.LastName
</p>

<p>
    Email : @Model.Email
</p>